﻿#overlay {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width:100%;
    height:100%;
    z-index:2147483646;
    display:none;
    background-color:black;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    -moz-opacity:0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
}

#loaderImage {
position:absolute;
z-index:2147483647;
height:18px;
width:23px;
display:none;
}