﻿button.close {
	-webkit-appearance : none;
	padding : 0;
	cursor : pointer;
	background : 0 0;
	border : 0
}
.modal-open {
	overflow : hidden
}
.modal {
	position : fixed;
	top : 100px ;
	right : 0;
	bottom : 0;
	left : 0;
	z-index : 1050;
	display : none;
	overflow : hidden;
	-webkit-overflow-scrolling : touch;
	outline : 0
}
.modal.fade.modal-dialog {
	-webkit-transition : -webkit-transform.3s ease-out;
	-o-transition : -o -transform.3s ease-out;
	transition : transform.3s ease-out;
	-webkit-transform : translate(0, -25 % );
	-ms-transform : translate(0, -25 % );
	-o-transform : translate(0, -25 % );
	transform : translate(0, -25 % )
}
.modal.in.modal-dialog {
	-webkit-transform : translate(0, 0);
	-ms-transform : translate(0, 0);
	-o-transform : translate(0, 0);
	transform : translate(0, 0)
}
.modal-open.modal {
	overflow-x : hidden;
	overflow-y : auto
}
.modal-dialog {
	position : relative;
	width : auto;
	margin : 10px
}
.modal-content {
	position : relative;
	background-color :  #fff !important;
	-webkit-background-clip : padding-box;
	background-clip : padding-box;
	border : 1px solid #999;
	border : 1px solid rgba(0, 0, 0, .2);
	border-radius : 6px;
	outline : 0;
	-webkit-box-shadow : 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow : 0 3px 9px rgba(0, 0, 0, .5)
}
.modal-backdrop {
	position : fixed;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;
	z-index : 1040;
	background-color :  #000 !important
}
.modal-backdrop.fade {
	filter : alpha(opacity = 0);
	opacity : 0
}
.modal-backdrop.in {
	filter : alpha(opacity = 50);
	opacity : .5
}
.modal-header {
	padding : 15px;
	border-bottom : 1px solid #e5e5e5
}
.modal-header.close {
	margin-top : -2px
}
.modal-title {
	margin : 0;
	line-height : 1.42857143
}
.modal-body {
	position : relative;
	padding : 15px
}
.modal-footer {
	padding : 15px;
	text-align : right;
	border-top : 1px solid #e5e5e5
}
.modal-footer.btn + .btn {
	margin-bottom : 0;
	margin-left : 5px
}
.modal-footer.btn-group.btn + .btn {
	margin-left : -1px
}
.modal-footer.btn-block + .bt-block {
	margin - left : 0
}
.modal-scrollbar-measure {
	position : absolute;
	top : -9999px;
	width : 50px;
	height : 50px;
	overflow : scroll
}

 @media(min-width : 768px) {
	.modal-dialog {
		width : 600px;
		margin : 30px auto
	}
	.modal-content {
		-webkit-box-shadow : 0 5px 15px rgba(0, 0, 0, .5);
		box-shadow : 0 5px 15px rgba(0, 0, 0, .5)
	}
	.modal-sm {
		width : 300px
	}
}
 @media(min-width : 992px) {
	.modal-lg {
		width : lg {
		width : 900px
	}
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
      height: auto;
}

#img_Motivo_Tec {
    width: 112px;
    height: 66px;
    margin-right: 26px;



}

#main {
   
 
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: left;
}
