﻿<%@ Page Title="" Language="VB" MasterPageFile="~/TicketsPage.master" AutoEventWireup="false" CodeFile="abmuser.aspx.vb" Inherits="abmuser" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphTicket" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

