﻿<%@ Page Title="" Language="VB" MasterPageFile="~/TicketsPage.master" AutoEventWireup="false" CodeFile="aliq.aspx.vb" Inherits="aliq" %>


<asp:Content ID="Content2" ContentPlaceHolderID="cphTicket" Runat="Server">
    <div style="height: 153px" align="center">   <asp:Table ID="Table1" runat="server" 
        style="text-align: center" BorderColor="Black" BorderStyle="Double" 
        Height="150px" Width="553px">
    <asp:TableRow><asp:TableCell Font-Bold="True" Font-Size="Large">Especialista</asp:TableCell><asp:TableCell> <asp:DropDownList ID="DropDownList1" runat="server" 
        DataSourceID="Especialistas" DataTextField="Nombre" 
        DataValueField="EspecialistaId">
    </asp:DropDownList>    </asp:TableCell><asp:TableCell>
        <asp:ImageButton ID="ImageButton1" runat="server" ImageUrl="~/Images/arrow2_e.gif" /> </asp:TableCell></asp:TableRow>
    </asp:Table>
    </div>
 
   

       <asp:SqlDataSource ID="Especialistas" runat="server" 
        ConnectionString="<%$ ConnectionStrings:TicketDB %>" 
        
        
        SelectCommand="SELECT distinct( especialista.EspecialistaId), especialista.Nombre 
FROM liquidacion_cas 
INNER JOIN ticket ON ticket.TicketId = liquidacion_cas.ticketid
INNER JOIN especialista ON especialista.EspecialistaId = ticket.EspecialistaId
where autorizadook = 0">
    </asp:SqlDataSource>
</asp:Content>

