﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="asignamasivo.aspx.vb" Inherits="Default3" MasterPageFile="~/TicketsPage.master" %>


<asp:Content ContentPlaceHolderID="cphTicket" runat="server">

    Estado General<br /><br />
    <asp:Label ID="LblEstadoGeneral" runat="server" Text="Aguardando Operacion..."></asp:Label>
    <br /><br />
<br />
    <asp:Table ID="TblArrange" runat="server">
        <asp:TableRow runat="server">
            <asp:TableCell runat="server">
                Estado:
            </asp:TableCell>
            <asp:TableCell runat="server">
                <asp:DropDownList runat="server" id="ddestado"></asp:DropDownList>
            </asp:TableCell>
        </asp:TableRow>
        <asp:TableRow runat="server">
            <asp:TableCell runat="server" ColumnSpan="2">
                <asp:CheckBox runat="server" ID="ChkAsignaParcial" Text="Asignar Partes Parciales" />
            </asp:TableCell>
        </asp:TableRow>
    </asp:Table>
    <br />
    <asp:Button ID="CmdAsignar" runat="server" Text="Asignar" />
    <br />
    <br />
    Estado<br />
    <br />
    <asp:ListBox ID="lEstado" runat="server" Height="297px" Width="771px">
    </asp:ListBox>
</asp:Content>