﻿<%@ Page Title="" Language="VB" MasterPageFile="~/TicketsPage.master" AutoEventWireup="false" CodeFile="cargamasiva.aspx.vb" Inherits="cargamasiva" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphTicket" Runat="Server">

<div align="center">

<h3 align="center" >Vista Previa</h3>
    <asp:Table ID="tblResultado" runat="server">
    </asp:Table>
    <br />
    <asp:GridView ID="GridView1" runat="server" CellPadding="4" 
        DataSourceID="SqlDataSource1" ForeColor="#333333" GridLines="None" 
        AutoGenerateColumns="False" style="margin-left: 0px" 
        Width="401px">
        <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
        <Columns>
            <asp:BoundField DataField="ticketid" HeaderText="Ticket" 
                SortExpression="ticketid" >
            
            </asp:BoundField>
            <asp:BoundField DataField="InformeInterno" HeaderText="Informe Interno" 
                SortExpression="InformeInterno" >
            
            </asp:BoundField>
        </Columns>
        <EditRowStyle BackColor="#999999" />
        <FooterStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
        <HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
        <PagerStyle BackColor="#284775" ForeColor="White" HorizontalAlign="Center" />
        <RowStyle BackColor="#F7F6F3" ForeColor="#333333" />
        <SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" />
        <SortedAscendingCellStyle BackColor="#E9E7E2" />
        <SortedAscendingHeaderStyle BackColor="#506C8C" />
        <SortedDescendingCellStyle BackColor="#FFFDF8" />
        <SortedDescendingHeaderStyle BackColor="#6F8DAE" />
    </asp:GridView>
    
   <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
        ConnectionString="<%$ ConnectionStrings:TicketDB %>" SelectCommand="select ticketid, InformeInterno 
from BULKTICKET"></asp:SqlDataSource>

  <div align="center">  <asp:Button ID="btnact" runat="server" Text="Actualizar" /></div>

</div>

</asp:Content>

