﻿<%@ Page Title="" Language="VB" MasterPageFile="~/TicketsPage.master" AutoEventWireup="false" CodeFile="error.aspx.vb" Inherits="Default3" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphTicket" Runat="Server">


    <p style="font-family: verdana; font-size: large; color: #FF0000">
        Error en la aplicacion,
    </p>
    <p style="font-family: verdana; font-size: large; color: #FF0000">
        por favor contacte al administrador del sistema.</p>


</asp:Content>

