﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="historial.aspx.cs" Inherits="historial" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <table>
    <tr>
        <td>
            <asp:Label ID="lblTitulo" runat="server" Text="Label"></asp:Label></td>
    </tr>
    <tr>
      <td><div style="text-align: center">
            <br />
            <table border="1" cellspacing="5" style="border-right: black 1px solid; border-top: black 1px solid;
                border-left: black 1px solid; width: 98%; border-bottom: black 1px solid">
                <tr>
                    <td align="center">
                            HOLA</td>
                </tr>
            </table>
      </div></td>
    </tr>
    </table>
    </div>
    </form>
</body>
</html>
