﻿<%@ Page Title="" Language="VB" MasterPageFile="~/TicketsPage.master" AutoEventWireup="false" CodeFile="liq.aspx.vb" Inherits="liq" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphTicket" Runat="Server">
    <div align="right">
    </div>

    <Table ID="Table1" runat="server" Caption="Liquidacion CAS" 
        Width="632px">
        <tr >
            <td style="width: 101px" >Viaticos KM</td >
            <td >
                <asp:TextBox ID="km" runat="server" AutoPostBack="true"></asp:TextBox>
</td >
            <td >Precio Km</td >
            <td >
                <asp:TextBox ID="pesos" runat="server" AutoPostBack="true"></asp:TextBox> <asp:Button ID="Button2" runat="server" Text="Volver" style="height: 26px" 
            />
</td >
        </tr>
         <tr>
          <td  style="width: 101px"></td >
            <td >Total Viaticos $
                <asp:Label ID="lbtotal" runat="server" Text=""></asp:Label>
</td >
            <td  ></td >
            <td ></td >
        </tr>
        <tr >
          <td style="width: 101px">Código Reparación</td >
            <td >
            <asp:DropDownList ID="ddcodrep" runat="server" DataSourceID="sqlcodrep" 
        DataTextField="cod" DataValueField="cod" AutoPostBack="true">
                </asp:DropDownList>
               
            

</td >
            <td  ><asp:CheckBox ID="ok" Visible="false" runat="server" />
            </td >
            <td  >
            <asp:FileUpload ID="FileUpload1" runat="server" />
                <asp:Image ID="comimg" runat="server" Visible="False" Width="50" Height="50" />
                <br/>

                <asp:HyperLink
                    ID="ampliar" Visible="false" runat="server" Target="_blank">ampliar</asp:HyperLink>
                <asp:Label ID="lblStatus" runat="server" Text=""></asp:Label>
</td >
            <td >
                &nbsp;</td >
        </tr>
            <tr >
            <td   style="width: 101px">Total Costo Reparacion</td >
            <td  >$
                <asp:Label ID="costo" runat="server" Text=""></asp:Label></td >
            <td  ></td >
            <td ></td >
        </tr>
        <tr >
            <td style="width: 101px" ></td >
            <td ></td >
            <td >
                
    <asp:Button ID="Button1" runat="server" style="text-align: center" 
        Text="Actualizar" />
                
</td >
        </tr>
        
    
        
    </Table>
          <div align="center">

     
    <br />
        </div>

    <asp:SqlDataSource ID="sqlcodrep" runat="server" 
        ConnectionString="<%$ ConnectionStrings:TicketDB %>" 
        SelectCommand="SELECT [cod] FROM [codrep]"></asp:SqlDataSource>

    </asp:Content>

