﻿<%@ Page Title="" Language="VB" MasterPageFile="~/TicketsPage.master" AutoEventWireup="false" CodeFile="liqui.aspx.vb" Inherits="liq" %>


<asp:Content ID="Content2" ContentPlaceHolderID="cphTicket" Runat="Server">

<script type="text/javascript">
    function Tkt() {
        var i = 0;

        while (document.getElementById('ctl00_cphTicket_chk0'+i) != 'undefined') {
            alert(document.getElementById('precio'+i).value);
        }

        function TimeO ()
        {
            setTimeout ("Tkt()", 5000);
    }
            
</script>

    <p style="text-align: center; font-size: x-large">
        <asp:ScriptManager ID="SC" runat="server" EnablePageMethods="True">
        </asp:ScriptManager>
        A
        Liquidar</p>
    <asp:Table ID="TblConfirmar" runat="server" Width="879px">
        <asp:TableRow runat="server" BackColor="#5D7B9D" Font-Bold="True" 
            ForeColor="White">
            <asp:TableCell runat="server" BorderStyle="Double" BorderWidth="2px">ID</asp:TableCell>
            <asp:TableCell runat="server" BorderStyle="Double" BorderWidth="2px">Razón Social</asp:TableCell>
            <asp:TableCell runat="server" BorderStyle="Double" BorderWidth="2px">Equipo</asp:TableCell>
            <asp:TableCell runat="server" BorderStyle="Double" BorderWidth="2px">Negocio</asp:TableCell>
            <asp:TableCell runat="server" BorderStyle="Double" BorderWidth="2px">Especialista</asp:TableCell>
            <asp:TableCell ID="TableCell1" runat="server" BorderStyle="Double" BorderWidth="2px">Costo Viaticos</asp:TableCell>
            <asp:TableCell ID="TableCell2" runat="server" BorderStyle="Double" BorderWidth="2px">Costo Reparacion</asp:TableCell>
            <asp:TableCell runat="server" BorderStyle="Double" BorderWidth="2px">Aut. TKT</asp:TableCell>
        </asp:TableRow>
    </asp:Table>
 <div align="right" style="width: 865px">
     <asp:UpdatePanel ID="UPDATE" runat="server">
         <ContentTemplate>
             <span style="font-size: large"><strong>Total Neto : $</strong></span><strong><asp:Label 
         ID="lbtotalneto" runat="server" style="font-size: large"></asp:Label>
             *<br style="font-size: large" /> * No incluye impuestos</strong>
         </ContentTemplate>
     </asp:UpdatePanel>
     <br />
 </div>
    <br />
    <asp:Label ID="LabelError" runat="server" Text=" " ForeColor="Red"></asp:Label>
    <br />

    &nbsp;<div align="center">
       <asp:Button ID="CmdActualizar" runat="server" Text="Autorizar" />
        
    </div>
    <body></body>
</asp:Content>
