<%@ Page Language="C#" MasterPageFile="~/TicketsPage.master" AutoEventWireup="true" CodeFile="LoginOK.aspx.cs" Inherits="LoginOK" %>

<asp:Content ID="LoginOK" ContentPlaceHolderID="cphTicket" runat="server">
    <asp:Image ID="Image1" runat="server" Height="582px" ImageAlign="AbsMiddle" 
        ImageUrl="~/Images/logo megatech fondo.jpg" Width="1024px" />
</asp:Content>

