﻿<%@ Page Title="" Language="VB" MasterPageFile="~/TicketsPage.master" AutoEventWireup="false" CodeFile="masiva.aspx.vb" Inherits="masiva" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphTicket" Runat="Server">
    <div>
    <h3 align="center">Actualización Masiva de Tickets</h3>
    <asp:Table ID="Table1" runat="server" Height="91px" CaptionAlign="Top" 
            style="margin-left: 67px" Width="546px">
    <asp:TableHeaderRow>
    <asp:TableHeaderCell>Archivo
    </asp:TableHeaderCell>
    <asp:TableCell>
<asp:FileUpload ID="FileUpload1" runat="server" />

    </asp:TableCell>
    </asp:TableHeaderRow>
    <asp:TableRow>
    <asp:TableCell
    >
        <asp:Label ID="lblstatus" runat="server" Text="" ForeColor="Red" Font-Size="Large"></asp:Label></asp:TableCell>
    <asp:TableCell HorizontalAlign="Center">
        <asp:Button ID="btnsubir" runat="server" Text="Subir" />
    </asp:TableCell>
    </asp:TableRow>
    </asp:Table>
    

    </div>
</asp:Content>

