﻿<%@ Master Language="VB" CodeFile="MasterPage.master.vb" Inherits="MasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <script src="js/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="js/jquery.blockUI.js" type="text/javascript"></script>
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Image ID="Image1" runat="server" Height="50px" Width="129px" 
                ImageUrl="~/images/logomeganuevo.jpg" />
        <br />
        <br />
       <h2 align="center" style="color: #0000FF">Liquidaciones</h2>

       
                    <telerik:RadMenu ID="Menu2" Runat="server" ExpandDelay="50" 
            Flow="Vertical" Skin="Vista">
                        <Items>
                            <telerik:RadMenuItem runat="server" Owner="Menu2" Text="Busquedas">
                                <Items>
                                    <telerik:RadMenuItem runat="server" NavigateUrl="BusquedaTicket.aspx" Owner="" 
                                        Text="Busqueda de TKT">
                                    </telerik:RadMenuItem>
                                </Items>
                             </telerik:RadMenuItem>
                            <telerik:RadMenuItem runat="server" Owner="Menu2" Text="Altas">
                                <Items>
                                    <telerik:RadMenuItem runat="server" NavigateUrl="Tickets.aspx" Owner="" 
                                        Text="Nuevo Ticket">
                                    </telerik:RadMenuItem>
                                    <telerik:RadMenuItem runat="server" NavigateUrl="ClientesAlta.aspx" Owner="" 
                                        Text="Nuevo Cliente">
                                    </telerik:RadMenuItem>
                                    <telerik:RadMenuItem runat="server" NavigateUrl="EquiposAlta.aspx" Owner="" 
                                        Text="Nuevo Equipo">
                                    </telerik:RadMenuItem>
                                    <telerik:RadMenuItem runat="server" NavigateUrl="masiva.aspx" Owner="" 
                                        Text="Carga Masiva">
                                    </telerik:RadMenuItem>
                                    <telerik:RadMenuItem runat="server" NavigateUrl="altaTecnico.aspx" Owner="" 
                                        Text="Nuevo Técnico">
                                    </telerik:RadMenuItem>
                                    <telerik:RadMenuItem runat="server" NavigateUrl="Default3.aspx" Owner="" 
                                        Text="Asignación Masiva Onsite">
                                    </telerik:RadMenuItem>
                                </Items>
                            </telerik:RadMenuItem>
                            <telerik:RadMenuItem runat="server" Owner="Menu2" Text="Bandeja" 
                                NavigateUrl="Default2.aspx">
                            </telerik:RadMenuItem>
                            <telerik:RadMenuItem runat="server" Owner="Menu2" Text="Reportes">
                                <Items>
                                    <telerik:RadMenuItem runat="server" NavigateUrl="aliq.aspx" Owner="" 
                                        Text="Liquidación CAS">
                                    </telerik:RadMenuItem>
                                </Items>
                            </telerik:RadMenuItem>
                            <telerik:RadMenuItem runat="server" Owner="Menu2" Text="Configuración">
                                <Items>
                                    <telerik:RadMenuItem runat="server" Owner="" Text="Tarifas">
                                        <Items>
                                            <telerik:RadMenuItem runat="server" NavigateUrl="tarifas.aspx" Owner="" 
                                                Text="Nueva Tarifa">
                                            </telerik:RadMenuItem>
                                            <telerik:RadMenuItem runat="server" NavigateUrl="vertarifas.aspx" Owner="" 
                                                Text="Ver Tarifas">
                                            </telerik:RadMenuItem>
                                        </Items>
                                    </telerik:RadMenuItem>
                                    <telerik:RadMenuItem runat="server" Owner="" Text="Códigos de reparación">
                                        <Items>
                                            <telerik:RadMenuItem runat="server" NavigateUrl="codigos.aspx" Owner="" 
                                                Text="Nuevo código">
                                            </telerik:RadMenuItem>
                                        </Items>
                                    </telerik:RadMenuItem>
                                </Items>
                            </telerik:RadMenuItem>
                        </Items>
                        <DefaultGroupSettings ExpandDirection="Right" RepeatDirection="Vertical" 
                            RepeatColumns="0" />
                    </telerik:RadMenu>

       
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
            
        
            
        
        </asp:ContentPlaceHolder>
    </div>
    <telerik:RadScriptManager ID="RadScriptManager1" Runat="server">
    </telerik:RadScriptManager>
    </form>
</body>
</html>
