﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="popupReplica.aspx.vb" Inherits="popupReplica" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div style="margin:20px;">
        <asp:label runat="server" ID="lblReplica"></asp:label>
    </div>
    </form>
</body>
</html>
