<%@ Page Language="C#" MasterPageFile="~/TicketsPage.master" AutoEventWireup="true" CodeFile="SubItem1.aspx.cs" Inherits="SubItem1" %>

<asp:Content ID="SubItem1" ContentPlaceHolderID="cphTicket" runat="server">
    <div>
    SubItem1
    </div>  
</asp:Content>

