<%@ Page Language="C#" MasterPageFile="~/TicketsPage.master" AutoEventWireup="true" CodeFile="SubItem2.aspx.cs" Inherits="SubItem2" %>

<asp:Content ID="SubItem2" ContentPlaceHolderID="cphTicket" runat="server">
    <div>
    SubItem2
    </div>  
</asp:Content>
