﻿body
{
	font-size: 10pt;
	font-family: 'Arial Narrow';
}
.TextoEtiqueta
{
	font-size: 10pt;
	color: menutext;
	font-family: 'Arial Narrow' , Arial;
}
.TextoTextBox
{
	font-size: 10pt;
	color: menutext;
	font-family: 'Arial Narrow' , Arial;
}
.TextoTextBoxReadonly
{
	font-size: 10pt;
	color: menutext;
	font-family: 'Arial Narrow' , Arial;
	background-color: #ffffcc;
	border-right: gray 1px solid;
	border-top: gray 1px solid;
	border-left: gray 1px solid;
	border-bottom: gray 1px solid;
}
.labelError
{
	font-size: 10pt;
	color: #990000;
	font-family: 'Arial Narrow' , Arial;
	font-weight: bold;
}
.headerLogin
{
		font-weight: bold;	
		font-size: 10pt;
		color: white;
		font-family: 'Arial Narrow';
		background-color: #336699;
}
.MenuSelected
{
	font-weight: normal;
	font-size: small;
	color: white;
	font-family: 'Arial Narrow';
	background-color: #336699;
	cursor: hand;
}
.highlighteditem
{
	font-weight: normal;
	font-size: small;
	color: #404040;
	font-family: 'Arial Narrow';
	background-color: #FFFFFF;
	cursor: default;
}
.TablaLogin
{
	border-left: #336699 1px solid;
	border-right: #336699 1px solid;
	border-bottom: #336699 3px solid;
	border-top: #336699 3px solid;
	border-collapse: collapse;
}		
.urlLinks
{
	font-size: small;
	font-family: 'Arial Narrow';
	color: #336699;

}
A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline}

.gridViewOnsite
{
    white-space:nowrap; 
    margin-left:0px;   
}