﻿body {
}
.headerStyle
{
	font-size: 10pt;
	color: white;
	font-family: 'Arial Narrow';
	background-color: #336699;
	font-weight: bold;
}
.altRowStyle
{
	font-size: 10pt;
	color: black;
	font-family: 'Arial Narrow';
	background-color: antiquewhite;
}
.rowStyle
{
	font-size: 10pt;
	color: black;
	font-family: 'Arial Narrow';
	background-color: moccasin;
}
.footerStyle
{
	font-size: 10pt;
	color: black;
	font-family: 'Arial Narrow';
	background-color: lemonchiffon;
}
.columnaFecha
{
    width:250px;
}