﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Default.aspx.vb" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
	<title></title>
	<telerik:RadStyleSheetManager id="RadStyleSheetManager1" runat="server" />
</head>
<body>
    <form id="form1" runat="server">
	<script type="text/javascript">
		//Put your JavaScript code here.
    </script>
	<div><table align="center">
    <tr>
    <td nowrap="nowrap" valign="top">
    <div align="center">
        Ingrese el nombre de la Localidad o partido:<asp:TextBox ID="txtBusqueda" 
            runat="server" Width="253px"></asp:TextBox>
        &nbsp;</div></td>
    </tr>
        
    
    <tr>
    <td nowrap="nowrap" valign="top">
        <div align="center"><asp:Label ID="LblAdicional" runat="server" Text="asdasd" 
                Visible="False"></asp:Label></div>
        &nbsp;</td>
    </tr>


    <tr>
    <td nowrap="nowrap" valign="top">
        <div align="center">
        <asp:GridView ID="GridView1" runat="server" AllowSorting="True" CellPadding="4" 
            DataSourceID="dsGridView" ForeColor="#333333" GridLines="None">
            <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
            <EditRowStyle BackColor="#999999" />
            <FooterStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
            <HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
            <PagerStyle BackColor="#284775" ForeColor="White" HorizontalAlign="Center" />
            <RowStyle BackColor="#F7F6F3" ForeColor="#333333" />
            <SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" />
            <SortedAscendingCellStyle BackColor="#E9E7E2" />
            <SortedAscendingHeaderStyle BackColor="#506C8C" />
            <SortedDescendingCellStyle BackColor="#FFFDF8" />
            <SortedDescendingHeaderStyle BackColor="#6F8DAE" />
        </asp:GridView>
        <asp:SqlDataSource ID="dsGridView" runat="server"></asp:SqlDataSource>
        </div>
    </td>
    </tr>
    
    </table>

	    

	</div>
	</form>
</body>
</html>
