﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="slaMensual.aspx.vb" Inherits="slaMensual" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body style="width:100%; border-collapse:collapse; margin:0; border-style:none;" >
    <form style="width:100%" id="form1" runat="server" action="http://10.244.41.26/tdi/Genesys/buscador.php" target="res">
        <input type="hidden" name="programa" value="2" />
        <input type="hidden" name="pcrc" value="2-26" />
        <input type="hidden" name="proveedor" value="0-0-0" />
        <input type="hidden" name="site" value="0-0-0-0" />
        <input type="hidden" name="monitores" value="0-0-0-0-0" />
        <input type="hidden" name="rac" value="0" />
        <input type="hidden" name="f1" id="f1" runat="server" style="width:70px"/>
        <input type="hidden" name="f2" id="f2" runat="server" style="width:70px"/>
        <input type="submit" id="btSubmit" value="Consultar Datos" style="height:24px;" />
    </form>
    <iframe id="res" name="res" style="border-style:none; height:1000px; border-collapse: collapse; width: 100%; border-style:none;"></iframe>
    
</body>
</html>
